:root {
    --gutter-spaced: 1rem;
    --gutter-x: 0.75rem;
    --gutter-x-min: -0.75rem;
    --font-size: 16px;
    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --fontello: "fontello", var(--font-family);
    --dashicons: dashicons, var(--font-family);
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --lighter-dark: #73777a;
    --lighten-dark: #495057;
    --light-dark: #292d32;
    --dark: #212529;
    --darker: #17181a;
    --white: #fff;
    --darker-white: #f1eeee;
    --link-color: #1f80e0;
    --link-hover-color: #135fac;
    --green: #16a085;
    --light-green: #27ae60;
    --blue: #2980b9;
    --light-blue: #3498db;
    --purple: #8e44ad;
    --light-purple: #9b59b6;
    --gray: #bdc3c7;
    --light-gray: #ecf0f1;
    --night: #2c3e50;
    --light-night: #34495e;
    --darker-night: #203142;
    --grey: #687272;
    --light-grey: #95a5a6;
    --red: #c0392b;
    --light-red: #e74c3c;
    --orange: #f39c12;
    --light-orange: #f1c40f;
    --color: #383838;
    --color-hover: #212020;
    --code: var(--red);
    --black-trans-light: rgba(0,0,0,.1);
    --black-trans: rgba(0,0,0,.25);
    --black-trans-dark: rgba(0,0,0,.5);
    --prop-transition: ease .2s;
    --prop-transition-fast: ease .1s;
    --prop-transition-normal: ease .25s;
    --prop-transition-medium: ease .4s;
    --prop-transition-low: ease .8s;
}
